<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaserApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MaserApp.My.MySettings>
            <setting name="WorkDir" serializeAs="String">
                <value>Z:\maser</value>
            </setting>
            <setting name="Taxa1332File" serializeAs="String">
                <value>taxa1332.zip</value>
            </setting>
            <setting name="Taxa1332FTP" serializeAs="String">
                <value>ftp1.msnj.us</value>
            </setting>
            <setting name="Taxa1332User" serializeAs="String">
                <value>edmunds</value>
            </setting>
            <setting name="Taxa1332Pwd" serializeAs="String">
                <value>obbidtig</value>
            </setting>
            <setting name="AcegisFile" serializeAs="String">
                <value>gis1332.zip</value>
            </setting>
            <setting name="AcegisFTP" serializeAs="String">
                <value>ftp1.msnj.us</value>
            </setting>
            <setting name="AcegisUser" serializeAs="String">
                <value>mhgis</value>
            </setting>
            <setting name="AcegisPwd" serializeAs="String">
                <value>hakfomak</value>
            </setting>
            <setting name="SecTaxa1332" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecAcegis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecModiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecCo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecSeptics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecBCO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecZBA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecPLA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecCD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecCPM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecFTG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecMac" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Taxa1332UnzipFile" serializeAs="String">
                <value>taxa1332.dat</value>
            </setting>
            <setting name="AcegisUnzipFile" serializeAs="String">
                <value>gis1332.txt</value>
            </setting>
            <setting name="WorkDB" serializeAs="String">
                <value>C:\Users\johnadams\Documents\workdb.mdb</value>
            </setting>
            <setting name="CONewDB" serializeAs="String">
                <value>C:\Users\johnadams\Documents\CONew.mdb</value>
            </setting>
            <setting name="SendDB" serializeAs="String">
                <value>C:\Users\johnadams\Documents\Send\workdb.mdb</value>
            </setting>
            <setting name="PlanningDB" serializeAs="String">
                <value>Y:\planning\planningdept.mdb</value>
            </setting>
            <setting name="SendToFTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompactDB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>TOWNSHIP_USERS\BALVEREZ</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Cowboys2019!</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Users\johnadams\Documents\maserlog.txt</value>
            </setting>
        </MaserApp.My.MySettings>
    </userSettings>
</configuration>